* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk";
  font-weight: 500;
}
html {
  font-size: 10px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.card-section {
  position: relative;
  background-image: url("./images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 24rem;
}

.card-back {
  position: absolute;
  top: 32px;
  right: 16px;
  left: 73px;
}
.card-back span {
  position: absolute;
  color: var(--White, #fff);
  text-align: right;
  font-size: 9px;
  font-weight: 500;
  letter-spacing: 1.286px;
  left: 82%;
  top: 44%;
}
.card-front {
  position: absolute;
  top: 126px;
  right: 73px;
  left: 16px;
}

.card-front .card-logo {
  position: absolute;

  left: 19px;
  top: 17px;
  width: 20%;
}
.card-section img {
  width: 100%;
}
.user-card-number {
  position: absolute;
  top: 50%;
  left: 19px;
}
.user-card-number span {
  color: var(--White, #fff);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2.2px;
}
@media only screen and (max-width: 349px) {
  .user-card-number span {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 316px) {
  .user-card-number span {
    font-size: 1.3rem;
  }
}
.name-and-date {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 79%;
}
.user-name {
  color: var(--White, #fff);
  font-size: 9px;
  font-weight: 500;
  letter-spacing: 1.286px;
  position: absolute;
  left: 19px;
}
.user-date {
  position: absolute;
  left: 85%;
  color: var(--White, #fff);
  font-size: 9px;
  font-weight: 500;
  letter-spacing: 1.286px;
}

.forms-container {
  margin-top: 91px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  padding-bottom: 45px;
}
.date-container {
  margin-top: 9px;
  margin-bottom: 8px;
  display: flex;
  gap: 8px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
input {
  width: 100%;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.wrong-format {
  border: 1px solid var(--Red, #ff5050) !important;
}
.passive-span {
  display: none;
}

.numbers-only {
  color: var(--Red, #ff5050);
  font-size: 1rem;
}
.active-span {
  display: block !important;
}

.expire-date {
  display: flex;
  gap: 11px;
}
.cvc {
  display: flex;
  flex-direction: column;
}
.cvc input {
  border-radius: 8px;
  border: 1px solid var(--Light-Grey, #dfdee0);
  background: var(--White, #fff);
  height: 45px;

  padding-left: 16px;
  margin-top: 9px;
  margin-bottom: 8px;
}
form span {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card-input {
  border-radius: 8px;
  border: 1px solid var(--Light-Grey, #dfdee0);
  background: var(--White, #fff);
  height: 45px;
  display: flex;
  outline: none;
  padding: 11px 16px;
  outline: none;
}
.card-input::placeholder {
  color: var(--Deep-Violet, #21092f);
  font-size: 18px;
  font-weight: 500;
  opacity: 0.25;
}
.cvc input::placeholder {
  color: var(--Deep-Violet, #21092f);
  font-size: 18px;
  opacity: 0.25;
  font-weight: 500;
  line-height: normal;
}
.date {
  width: 72px;
  height: 45px;
  border-radius: 8px;
  border: 1px solid var(--Light-Grey, #dfdee0);
  background: var(--White, #fff);
  outline: none;
  padding-left: 16px;
}
.date::placeholder {
  color: var(--Deep-Violet, #21092f);
  font-size: 18px;
  font-weight: 500;
  opacity: 0.25;
}
.submit-div {
  margin-top: 28px;
  border-radius: 8px;
  background: var(--Deep-Violet, #21092f);
  width: 100%;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit-div button {
  all: unset;
  color: var(--White, #fff);
  font-size: 18px;
  font-weight: 500;
}
.form-active {
  display: block;
}
.active-window {
  display: none !important;
}
.thank-you-window {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  padding: 0 24px;
}
.thank-you {
  color: var(--Deep-Violet, #21092f);
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 3.422px;
}
.thank-you-window span {
  color: var(--Purplish-Grey, #8f8694);
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.added-details {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media only screen and(max-width:330px) {
  .expire-date {
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1440px) {
  body {
    display: flex;
    align-items: center;
  }
  .form-active {
    display: block;
  }

  .thank-you-window {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .thank-you {
    color: var(--Deep-Violet, #21092f);
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 3.422px;
  }
  .added-details {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .continue {
    width: 38.1rem;
  }
  .thank-you-window span {
    color: var(--Purplish-Grey, #8f8694);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
  }
  main {
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  .card-section {
    background-image: url("./images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 33.5%;
    height: 100vh;
  }

  .card-front {
    width: 447px;
    height: 245px;
    top: 30%;
    left: 30%;
  }
  .card-back {
    width: 447px;
    height: 245px;
    top: 50%;
    left: 50%;
  }
  .user-card-number span {
    font-size: 2.8rem;
  }
  .name-and-date span {
    font-size: 1.4rem;
  }
  .card-back span {
    font-size: 1.4rem;
  }
}
